# Configuration de l'application OCR UVT

# Port de l'API
API_PORT=8000

# Port du serveur web
WEB_PORT=80

# Langue par défaut pour l'OCR
DEFAULT_LANGUAGE=eng+fra+ara

# Répertoire pour les fichiers temporaires
TEMP_UPLOADS_DIR=/app/temp_uploads

# Niveau de log (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL=INFO
